* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100%;
  font-size: 20px;
}

body,
#root {
  height: 100%;
  flex: 1;
  background-color: #1e1e1e;
  font-family: 'Poppins', sans-serif;
  color: #aaa;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  color: #fff;
}

p {
  letter-spacing: 0.3rem;
}
